
#head-main{display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
min-height: 55vh;
gap: 20px;}
h1{color: aqua;}
#p{display: flex;
align-items: center;
flex-direction: column;
text-align: center;
border: 1px solid black;
justify-items: center;

background-color: rgb(36, 72, 189);
border-radius: 50px;
box-shadow:9px 0 #142970;}

button {
    display: inline-block;
    padding: 15px 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #142970;
    border: none;
    border-radius: 15px;
    box-shadow: 9px 9px #6071bd;
  }
  
  button:hover {background-color: #ca22c2}
  
  button:active {
    background-color: #0be9cb;
    box-shadow: 5px 5px #666;
    transform: translatey(4px);
    
  }

html{background-color: #0be9cb;}
h1,h2{color: #c00b0b;}
img:hover{
    background-color: #c00b0b;
    cursor: pointer;
transition: cubic-bezier(2, 3, 0, 12);
transform: rotate(90px 70px);

transition-behavior: inherit;}
  
