h1{  color: red; text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
     border: solid 1px rgb(0, 0, 0); 
     border-radius: 20px;
    height: 50px;width: 500px ; 
    margin-left: 40%;
margin-bottom: 0%;}


    .sec{  color: rgb(255, 0, 0); 
        display: flex;
        background-color: aqua;
        align-items: center;
        justify-content: center;
        border: solid 1px rgb(8, 0, 0); 
        border-radius: 20px;
        height: 50px;
        width: 850px ; 
        margin-left: 30%;
        margin-top: 5px;
        margin-bottom: 0px;
   }    
#headp{align-items: center;
display: flex;
text-align: center;
justify-content: center;
margin-top: 60px;
padding: 0px;}
#firstp{margin-right: 100px;
border: 5px solid black;
border-radius: 40px;
background-color: whitesmoke;}
#secondp{margin-right: 1000px;background-color: antiquewhite;
border: 5px solid black;
border-radius: 40px;}
#thirdp{border: 5px solid black;background-color: aquamarine;
border-radius: 40px;}

#headp2{align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
margin-top: 50px;}
    #firstp{margin-right: 100px;}
    #secondp{margin-right: 100px;}
    
.sp{background-color: blue;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
height: 40px;
padding: 0px;
border-radius: 40px;
color: yellow;
font-weight: 900;

margin-bottom: 5%;
text-decoration: none;}
html{background-color: blueviolet;}
@media (max-width: 600px) {
h1{text-align: center; width: 300px;
    height: 200px;
margin-left: 25%;}  
.sec{  color: rgb(255, 0, 0); 
    display: flex;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    border: solid 1px rgb(8, 0, 0); 
    border-radius: 20px;
    height: 80px;
    width: 400px ; 
    margin-left: 15%;
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;
    
}     #headp{display: flex;
    flex-wrap: wrap;
}
    
    #headp2{display: flex; flex-wrap: wrap;}
        #firstp{margin-right: 2px;}
        #secondp{margin-right: 2px;}
        
    .sp{background-color: blue;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 40px;
    padding: 0px;
    border-radius: 40px;
    color: yellow;
    font-weight: 900;
    
    margin-bottom: 5%;
    text-decoration: none;}
    html{background-color: blueviolet;}

}


   
                                


   
                                
